body{
    padding:20px;
}

.margin-top{
    margin-top: 60px;
}

.one-app{
    padding: 10px;
    margin-top: 10px;
    text-align:center;
    border-bottom:2px solid #eeeeee;
}

.one-app p{
    height: 50px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:3;
    word-break:break-all;
    display:-webkit-box;
    -webkit-box-orient:vertical;
}

.appIcon{
    height:90px;
    display: flex;
}
.appIcon img {
    width:90px;
    margin: auto;
}