<html>

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <title>Docker Store - 所有应用</title>
    <link rel="stylesheet" href="/base.css">
    <script src="/jquery/2.2.1/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
    <style>
        .one-app p {
            height: 50px;
        }
        .commandBox {
            width: 1000px; height: 600px;
            position: absolute; left: 50%; top: 50%;
            margin-top: -300px;
            margin-left: -500px;
            display: none;
        }
        .closeCommandBox{
            background: #ff0000;
            padding: 3px 8px 3px 8px;
            border-radius:3px;
            float: right;
        }
    </style>
    <script>
        $(document).ready(function(){
            //app列表
            $.ajax({
                type:'post', url:"/api/getAllApp", cache: false, dataType:'json',
                success:function(json){
                    if(json.success == 1) {
                        for ( let i = 0; i < json.response.length; i++) {
                            let config = json.response[i];
                            let str = '<div class="col-xs-6 col-sm-4 col-md-2"><div class="one-app">';
                            str +='<div class="appIcon"><img src="/icon/'+ config.appIcon +'" /></div>';
                            str +='<h4>'+ config.appName +'</h4>';
                            str +='<p>'+ config.appDescription +'</p><div>';
                            let disabled;
                            let clickName;
                            let className;
                            if(config.isRunning) {
                                disabled = "disabled";
                                clickName = "已启动";
                                className = ""
                            }else if(!config.isBuild){
                                disabled = "";
                                clickName = "构建";
                                className = "buildApp"
                            }else{
                                disabled = "";
                                clickName = "启动";
                                className = "startApp"
                            }
                            str +='<button type="button" class="btn btn-primary btn-sm '+className+'" appId="'+config.appId+'" '+disabled+'>'+clickName+'</button>';
                            str +='</div></div></div>';
                            $("#appContainer").append(str);
                        }
                    }
                    onList();
                }
            });

            function onList() {
                $(".startApp").click(function(){
                    let installApp = $(this);
                    installApp.attr("disabled","disabled");
                    let appId = installApp.attr("appId");
                    $.ajax({
                        type: 'post', url: "/api/startApp", cache: false, dataType: 'json', data: "appId="+appId,
                        success: function (json) {
                            if ( json.success == 1 ) {
                                installApp.text("已启动");
                            }
                        }
                    })
                });

                $(".buildApp").click(function(){
                    let buildApp = $(this);
                    let appId = buildApp.attr("appId");
                    let url="/sshConnect?action=build&appId=" + appId;
                    $(".commandBoxIframe").attr("src",url)
                    $(".commandBox").show();
                });
            }
            $(".closeCommandBox").click(function () {
                $(".commandBox").hide();
                window.location.reload();
            })
        });


    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Docker Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">正在运行</a></li>
                <li><a href="/help">帮助</a></li>
                <li><a href="/tool">工具</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default margin-top">
    <div class="row" id="appContainer">

    </div>
</div>

<div class="panel panel-default commandBox">
    <div class="panel-heading"> CommandBox <span class="closeCommandBox"> <a href="javascript:void(0)"> X </a></span> </div>
    <div class="panel-body">
        <iframe class="commandBoxIframe" src="" height="90%" width="100%"></iframe>
    </div>
</div>

</body>
</html>