<html>

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <title>Docker Store - 所有应用</title>
    <link rel="stylesheet" href="/base.css">
    <script src="/jquery/2.2.1/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
    <style>
        .one-app p {
            height: 50px;
        }
        .commandBox {
            width: 1000px; height: 600px;
            position: absolute; left: 50%; top: 50%;
            margin-top: -300px;
            margin-left: -500px;
            display: none;
        }
        .closeCommandBox{
            background: #ff0000;
            padding: 3px 8px 3px 8px;
            border-radius:3px;
            float: right;
        }
        .alignCenter{
            text-align: center;
        }
    </style>
    <script>
        function startIcon( appId, isRunning, isBuild ) {
            if(isRunning) {
                iconName = "已启动";
                disabled = "disabled";
            }else if(isBuild){
                disabled = "";
                iconName = "&nbsp;启&nbsp;动&nbsp;";
            }else{
                disabled = "disabled";
                iconName = "未构建";
            }
            return "<button type=\"button\" class=\"btn btn-primary btn-sm startApp\" appId=\""+appId+"\" "+disabled+">"+iconName+"</button>";
        }

        function buildIcon( appId, isBuild ) {
            if(isBuild){
                disabled = "disabled";
                iconName = "已构建";
            }else{
                disabled = "";
                iconName = "&nbsp;构&nbsp;建&nbsp;";

            }
            return "<button type=\"button\" class=\"btn btn-primary btn-sm buildApp\" appId=\""+appId+"\" "+disabled+">"+iconName+"</button>";
        }
        function delIcon( appId, isBuild, isRunning ) {
            if(isRunning){
                disabled = "disabled";
            }else if(isBuild){
                disabled = "";
            }else{
                disabled = "disabled";
            }
            return "<button type=\"button\" class=\"btn btn-warning btn-sm delApp\" appId=\""+appId+"\" "+disabled+">删除</button>";
        }
        function trLine( appIcon, appName, appDescription, startIcon, buildIcon, delIcon) {
            return "" +
                "<tr>" +
                    "<td class='alignCenter'>" +
                        "<img src=\"/icon/"+appIcon+"\" style=\"height:24px;\"/>" +
                    "</td>" +
                    "<td class='alignCenter'>"+ appName +"</td>"+
                    "<td>"+ appDescription +"</td>"+
                    "<td class='alignCenter'>"+ startIcon +"</td>"+
                    "<td class='alignCenter'>"+ buildIcon +"</td>"+
                    "<td class='alignCenter'>"+ delIcon +"</td>" +
                "</tr>";
        }

        $(document).ready(function(){
            //app列表
            $.ajax({
                type:'post', url:"/api/getAllApp", cache: false, dataType:'json',
                success:function(json){
                    if(json.success == 1) {
                        for ( let i = 0; i < json.response.length; i++) {
                            let config = json.response[i];
                            let startIconStr = startIcon( config.appId, config.isRunning, config.isBuild );
                            let buildIconStr = buildIcon( config.appId, config.isBuild );
                            let delIconStr = delIcon( config.appId, config.isBuild, config.isRunning );
                            let trLineStr = trLine(config.appIcon, config.appName, config.appDescription, startIconStr, buildIconStr, delIconStr);
                            $("#appContainer").append(trLineStr);
                        }
                    }
                    onList();
                }
            });

            function onList() {
                $(".startApp").click(function(){
                    let installApp = $(this);
                    installApp.attr("disabled","disabled");
                    let appId = installApp.attr("appId");
                    $.ajax({
                        type: 'post', url: "/api/startApp", cache: false, dataType: 'json', data: "appId="+appId,
                        success: function (json) {
                            if ( json.success == 1 ) {
                                installApp.text("已启动");
                            }
                        }
                    })
                });

                $(".delApp").click(function(){
                    let delApp = $(this);
                    delApp.attr("disabled","disabled");
                    let appId = delApp.attr("appId");
                    $.ajax({
                        type: 'post', url: "/api/delApp", cache: false, dataType: 'json', data: "appId="+appId,
                        success: function (json) {
                            if ( json.success == 1 ) {
                                window.location.reload();
                            }
                        }
                    })
                });

                $(".buildApp").click(function(){
                    let buildApp = $(this);
                    let appId = buildApp.attr("appId");
                    let url="/sshConnect?action=build&appId=" + appId;
                    $(".commandBoxIframe").attr("src",url)
                    $(".commandBox").show();
                });
            }
            $(".closeCommandBox").click(function () {
                $(".commandBox").hide();
                window.location.reload();
            });

        });


    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Docker Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">正在运行</a></li>
                <li><a href="/help">帮助</a></li>
                <li><a href="/tool">工具</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default margin-top">

    <table class="table table-hover">
        <thead class="alert alert-info">
            <tr style="text-align: center;">
                <td>#</td><td>应用名</td><td>应用简介</td><td>启动</td><td>构建</td><td>删除</td>
            </tr>
        </thead>
        <tbody id="appContainer">
        </tbody>
    </table>

</div>

<div class="panel panel-default commandBox">
    <div class="panel-heading"> CommandBox <span class="closeCommandBox"> <a href="javascript:void(0)"> X </a></span> </div>
    <div class="panel-body">
        <iframe class="commandBoxIframe" src="" height="90%" width="100%"></iframe>
    </div>
</div>

</body>
</html>