<html>

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <title>Docker Store - 所有应用</title>
    <link rel="stylesheet" href="/base.css">
    <script src="/jquery/2.2.1/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
    <style>
        .one-app p {
            height: 50px;
        }
    </style>
    <script>
        $(document).ready(function(){
            //app列表
            $.ajax({
                type:'post', url:"/api/getAllApp", cache: false, dataType:'json',
                success:function(json){
                    if(json.success == 1) {
                        for ( let i = 0; i < json.response.length; i++) {
                            let config = json.response[i];
                            let str = '<div class="col-xs-6 col-sm-4 col-md-2"><div class="one-app">';
                            str +='<div class="appIcon"><img src="/icon/'+ config.appIcon +'" /></div>';
                            str +='<h4>'+config.appName+'</h4>';
                            str +='<p>'+config.appDescription+'</p><div>';
                            let disabled;
                            let clickName;
                            if(config.isRunning) {
                                disabled = "disabled";
                                clickName = "已启动";
                            }else if(!config.isBuild){
                                disabled = "";
                                clickName = "构建&启动";
                            }else{
                                disabled = "";
                                clickName = "启动";
                            }
                            str +='<button type="button" class="btn btn-primary btn-sm installApp" appId="'+config.appId+'" '+disabled+'>'+clickName+'</button>';
                            str +='</div></div></div>';
                            $("#appContainer").append(str);
                        }
                    }
                    onList();
                }
            });

            function onList() {
                $(".installApp").click(function(){
                    let installApp = $(this);
                    installApp.attr("disabled","disabled");
                    let appId = installApp.attr("appId");
                    $.ajax({
                        type: 'post', url: "/api/startApp", cache: false, dataType: 'json', data: "appId="+appId,
                        success: function (json) {
                            if ( json.success == 1 ) {
                                installApp.text("已启动");
                            }
                        }
                    })
                });
            }
        });


    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Docker Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">正在运行</a></li>
                <li><a href="/help">帮助</a></li>
                <li><a href="/tool">工具</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default margin-top">
    <div class="row" id="appContainer">

    </div>
</div>

</body>
</html>