<html>

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Docker Store - 帮助</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
    <style>
        .margin-top{
            padding: 10px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Docker Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">正在运行</a></li>
                <li><a href="/allApp">所有应用</a></li>
                <li><a href="/tool">工具</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default margin-top">
    <div class="panel panel-default">
        <div class="panel-heading" id="QianYan"> 前言 </div>
        <div class="panel-body">
            <p>
                1. 所有 APP 产生的数据都保存在宿主机 <mark>/volume/AppName</mark> 中 .
            </p>
            <p>
                2. 部分 APP 需要单独配置, 配置文件保存在  <mark>/volume/AppName/config</mark> 目录中 .
            </p>
            <p>
                3. APP 产生的所有数据都不会被自动删除, 以便下次使用, 如果需要删除, 请登录宿主机手动删除 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Redis"> Redis </div>
        <div class="panel-body">
            <p>
                1. 过编辑按钮修改Redis配置 .
            </p>
            <p>
                2. 初始密码为 <mark>123@456@</mark> 如需修改,请修改配置项目 <mark>requirepass 123@456@</mark> .
            </p>
            <p>
                3. 启动服务后点击<mark>终端</mark>链接到一个装有 <mark>redis 客户端</mark> 的容器.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="phpMyAdmin"> phpMyAdmin </div>
        <div class="panel-body">
            <p>
                1. 配置文件所在位置 <mark>App/phpMyAdmin/dependence/config.inc.php</mark> .
            </p>
            <p>
                2. 参考文档 <a href="https://docs.phpmyadmin.net/zh_CN/latest/" target="_blank">https://docs.phpmyadmin.net/zh_CN/latest/</a>
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Whistle"> Whistle </div>
        <div class="panel-body">
            <p>
                1. 通过设置网络代理, 来实现网络抓包功能 .
            </p>
            <p>
                2. https 抓包请先安装证书, 证书通过点击页面中的 HTTPS 按钮得到 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Memcached"> Memcached </div>
        <div class="panel-body">
            <p>
                1. memcached 的身份认证是通过 sasl 配置, 初始密码为 <mark>123@456@</mark> ,可通过修改 <mark>App/Memcached/docker-entrypoint.sh</mark> 中的命令修改默认密码 .
            </p>
            <p>
                2. 同时也可以通过 <mark>App/Memcached/docker-entrypoint.sh</mark> 中的命令来修改启动参数 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="ResilioSync"> ResilioSync </div>
        <div class="panel-body">
            <p>
                1. 创建新的同步项时, 请把同步目录选择到 <mark>/volume</mark> 的子目录下, 以便数据持久化 .
            </p>
            <p>
                2. 请通过 设置 -> 高级 -> 链接 -> 侦听端口 修改端口号为 <mark>55555</mark> 以便开启局域网加速 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="VerySync"> VerySync </div>
        <div class="panel-body">
            <p>
                1. 创建新的同步项时, 请把同步目录选择到 <mark>/volume</mark> 的子目录下, 以便数据持久化 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="MySQL57"> MySQL 5.7 </div>
        <div class="panel-body">
            <p>
                1. 数据库安装成功后, 请务必第一时间通过Web管理工具创建管理用户密码 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="DokuWiki"> DokuWiki </div>
        <div class="panel-body">
            <p>
                1. 安装成功后,访问服务 <mark>IP:Port/install.php</mark>  来安装 DokuWiki 配置 用户名,密码 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="PHP72"> PHP72 </div>
        <div class="panel-body">
            <p>
                1. 安装成功后,通过 <mark>/volume/PHP72/config</mark> 来修改 PHP, Nginx 配置文件 .
            </p>
            <p>
                2. 通过 <mark>/volume/PHP72/workdir</mark> 目录来部署 PHP 代码 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Net2Ftp"> Net2Ftp </div>
        <div class="panel-body">
            <p>
                1. 安装成功后,通过 <mark>/volume/Net2Ftp/config</mark> 来修改 PHP, Nginx 配置文件 .
            </p>
            <p>
                2. 通过 <mark>/volume/Net2Ftp/workdir</mark> 目录来修改 settings.inc.php 等 Net2Ftp 配置文件 .
            </p>
            <p>
                3. 关于 Net2Ftp 的上传, 下载限制, 日志等配置请参考<a href="http://www.net2ftp.com/index.php?state=homepage&state2=4b" target="_blank">官方文档</a>
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Shadowsocks"> Shadowsocks </div>
        <div class="panel-body">
            <p>
                1. 可通过编辑按钮修改服务配置文件 .
            </p>
            <p>
                2. 配置代理的时候请注意 "加密方式", 默认为 <mark>aes-256-cfb</mark> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="NextCloud"> NextCloud </div>
        <div class="panel-body">
            <p>
                1. 此服务需要 MySQL/MariaDB 数据库支持.
            </p>
            <p>
                2. 登录后点击右上角的 用户头像->关于 下载客户端使用.
            </p>
            <p>
                3. 强制使用 HTTPS 连接, chrome 无法信任, 请使用 <mark>/Volumes/DockerStore/WebSSH/workdir/ssl/</mark> 目录中的根证书, 导入至系统.
            </p>
            <p>
                4. 修改配置文件开启图片与视频处理插件.
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<mark>'enable_previews' => true,</mark></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<mark>'enabledPreviewProviders' =></mark></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark>array (</mark></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark>0 => 'OC\\Preview\\Image',</mark></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark>1 => 'OC\\Preview\\Movie',</mark></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark>2 => 'OC\\Preview\\TXT',</mark></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<mark>),</mark></p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="FrpServer"> Frp Server </div>
        <div class="panel-body">
            <p>
                1. 通过修改 frps.ini 来修改 Frp Server 的服务配置 .
            </p>
            <p>
                2. 由于 DockerStore 限制, 开放端口必须为 <mark>9500-9599</mark> .
            </p>
            <p>
                3. 默认用户名: <mark>admin</mark>, 默认密码: <mark>123@456@</mark>
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="FrpClient"> Frp Server </div>
        <div class="panel-body">
            <p>
                1. 通过修改 <mark>frpc.ini</mark> 来修改 Frp Client 的服务配置 .
            </p>
            <p>
                2. 示例配置文件在 <mark>frpc_example.ini</mark> , 复制过来使用即可 .
            </p>
            <p>
                3. 默认用户名: <mark>admin</mark>, 默认密码: <mark>123@456@</mark>
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="WebSSH"> Web SSH </div>
        <div class="panel-body">
            <p>
                1. 强制使用 HTTPS 连接, chrome 无法信任, 请使用 <mark>/Volumes/DockerStore/WebSSH/workdir/ssl/</mark> 目录中的根证书, 导入至系统.
            </p>
            <p>
                2. 系统每次登陆会修改密码, 所以链接不能重复使用.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Aria2"> Aria2 </div>
        <div class="panel-body">

            <p>
                1. Web UI 默认用户名: <mark>admin</mark>, 密码: <mark>123@456@</mark>.
            </p>
            <p>
                2. 通过 <mark>htpasswd -bc /volume/config/htpasswd hello 123456</mark> 创建用户.
            </p>
            <p>
                3. 通过 <mark>htpasswd -D /volume/config/htpasswd admin</mark> 删除用户.
            </p>
            <p>
                4. 通过 <mark>htpasswd -b /volume/config/htpasswd admin 123456</mark> 修改密码.
            </p>
            <p>
                5. JSON-RPC 链接的配置示例 <mark>https://token:qRc32PlTRI72wQSG7T0R8yR1QxXYRSk4@127.0.0.1:6800/jsonrpc</mark>
            </p>
            <p>
                6. 默认 secret 请通过"编辑"功能查看. 配置文件: <mark>/volume/config/aria2.conf</mark> 搜索 <mark>rpc-secret</mark> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="phpRedExpert"> phpRedExpert </div>
        <div class="panel-body">

            <p>
                1. 可通过修改 <mark>/workdir/app/config/parameters.yml</mark> 修改配置文件增加服务器 .
            </p>
            <p>
                2. 增加 <mark>redis_servers</mark> 中的字段, 增加服务器.
            </p>
            <p>
                3. Web UI 默认用户名: <mark>admin</mark>, 密码: <mark>123@456@</mark>.
            </p>
            <p>
                4. 通过 <mark>htpasswd -bc /volume/config/htpasswd hello 123456</mark> 创建WebUi用户.
            </p>
            <p>
                5. 通过 <mark>htpasswd -D /volume/config/htpasswd admin</mark> 删除WebUi用户.
            </p>
            <p>
                6. 通过 <mark>htpasswd -b /volume/config/htpasswd admin 123456</mark> 修改WebUi密码.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Telegraf"> Telegraf </div>
        <div class="panel-body">
            <p>
                1. Telegraf的职能是数据采集，用于主机性能数据，包括主机CPU、内存、IO、进程状态、服务状态等 .
            </p>
            <p>
                2. 通过点击<mark>编辑</mark>按钮进行配置 .
            </p>
            <p>
                3. 官方文档,请<a href="https://docs.influxdata.com/telegraf/v1.13/introduction/getting-started/" target="_blank">点击</a> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="InfluxDB"> InfluxDB </div>
        <div class="panel-body">
            <p>
                1. Influxdb的职能是时序数据库，用于存储数据 .
            </p>
            <p>
                2. 通过点击<mark>编辑</mark>按钮进行配置 .
            </p>
            <p>
                3. 官方文档,请<a href="https://docs.influxdata.com/influxdb/v1.7/" target="_blank">点击</a> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Chronograf"> Chronograf </div>
        <div class="panel-body">
            <p>
                1. Chronograf的职能是数据可视化，用于将Influxdb数据库的性能数据时序展示 .
            </p>
            <p>
                2. 官方文档,请<a href="https://docs.influxdata.com/chronograf/v1.7/" target="_blank">点击</a> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Kapacitor"> Kapacitor </div>
        <div class="panel-body">
            <p>
                1. Kapacitor的职能是规则告警，用于配置告警规则将Influxdb数据库查询触发规则的数据进行告警 .
            </p>
            <p>
                2. 通过点击<mark>编辑</mark>按钮进行配置 .
            </p>
            <p>
                3. 官方文档,请<a href="https://docs.influxdata.com/kapacitor/v1.5/" target="_blank">点击</a> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="CoreDNS"> CoreDNS </div>
        <div class="panel-body">
            <p>
                1. CoreDNS是一个DNS服务器/转发器 .
            </p>
            <p>
                2. 部分宿主机系统部署可能不能启动此服务,需要关闭宿主机的 <mark>systemd-resolved</mark> 服务 (service systemd-resolved stop), 并重新配置 <mark>resolv.conf</mark> 请谨慎操作 .
            </p>
            <p>
                3. 如果宿主机不能上网, 服务启动后需要把 <mark>resolv.conf</mark> 中的 <mark>nameserver</mark> 地址改为 <mark>127.0.0.1</mark> .
            </p>
            <p>
                4. 官方文档,请<a href="https://coredns.io/" target="_blank">点击</a> .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="OpenResty"> OpenResty </div>
        <div class="panel-body">
            <p>
                1. 可以通过编辑功能清空<mark>/workdir/nginx/conf/nginx.conf</mark>文件中的内容释放 0.0.0.0 ip监控 .
            </p>
            <p>
                2. <mark>/Volumes/DockerStore/OpenResty/nginx</mark> 为 nginx 配置文件目录.
            </p>
            <p>
                3. <mark>/Volumes/DockerStore/OpenResty/conf.d</mark> 为 自定义配置文件目录.
            </p>
            <p>
                4. <mark>/Volumes/DockerStore/OpenResty/lualib</mark> 为 自定义模块包目录.
            </p>
            <p>
                5. <mark>/Volumes/DockerStore/OpenResty/workdir</mark> 为 自定义 lua 文件目录.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="Emby"> Emby </div>
        <div class="panel-body">
            <p>
                1. 由于项目全部修改为HTTPS, 需执行部分操作才能使用 Emby .
            </p>
            <p>
                2. Emby 启动后, 点击 Emby App 的<mark>终端</mark>按钮 .
            </p>
            <p>
                <mark>sed -i "5i\ \ \&lt;CertificatePath&gt;/etc/nginx/ssl/iis-dockerstore.ssh2.cc.pfx&lt;/CertificatePath&gt;" /config/config/system.xml</mark>
            </p>
            <p>
                <mark>head -1 /etc/nginx/ssl/iis-pfx-password.txt | tr "\n" " " | xargs -i sed -i "6i\ \ \&lt;CertificatePassword&gt;{}&lt;/CertificatePassword&gt;" /config/config/system.xml</mark>
            </p>
            <p>
                3. 完成后, 击 Emby App 的<mark>重启</mark>按钮即可, 根据机器性能情况, 重启可能需要一段时间, 请耐心等待.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="MinIO"> MinIO </div>
        <div class="panel-body">
            <p>
                1. 默认 AccessKey: minioadmin , SecretKey: minioadmin .
            </p>
            <p>
                2. 首次修改密码, 通过编辑配置文件 /volume/.env 增加如下配置即可<br/>
                - AccessKey: <mark>MINIO_ACCESS_KEY=admin</mark><br/>
                - SecretKey: <mark>MINIO_SECRET_KEY=123@456@</mark><br/>
            </p>
            <p>
                3. 以后修改密码, 通过编辑配置文件 /volume/.env
                参考: <a href="https://docs.minio.io/docs/minio-server-configuration-guide.html" target="_blank">使用新凭修改加密</a> 通过增加, MINIO_ACCESS_KEY_OLD, MINIO_SECRET_KEY_OLD 进行修改.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="TdDownload"> TdDownload </div>
        <div class="panel-body">
            <p>
                1. 启动后点击<mark>日志</mark> .
            </p>
            <p>
                2. 在日志中搜索 <mark>THE ACTIVE CODE IS</mark>, 复制冒号后的 Code .
            </p>
            <p>
                3. 登陆 <a href='http://yuancheng.xunlei.com'>http://yuancheng.xunlei.com</a> 绑定下载器 .
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"> 其它工具 </div>
        <div class="panel-body">
            <p>
                1. ZeroTierOne: 全球局域网工具.
                <a href="https://github.com/zerotier/ZeroTierOne" target="_blank">Github</a>,
                <a href="https://www.zerotier.com/download/" target="_blank">下载</a>.
            </p>
            <p>
                2. ZeroNet: 去中心化的网络.
                <a href="https://github.com/HelloZeroNet/ZeroNet" target="_blank">Github</a>,
                <a href="https://zeronet.readthedocs.io/en/latest/using_zeronet/installing/" target="_blank">下载</a>,
                <a href="https://hub.docker.com/r/nofish/zeronet" target="_blank">Docker Hub</a>
            </p>
        </div>
    </div>

</div>

</body>

</html>