<html>

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <title>Docker Box - 正在运行</title>
    <script src="/jquery/2.2.1/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
    <style>
        body{
            padding:20px;
        }
        .margin-top{
            margin: 80px;
        }
    </style>
    <script>
        $(document).ready(function(){
            //主机列表
            $.ajax({
                type:'post', url:"/api/getRuningContainer", cache: false, dataType:'json',
                success:function(sjson){
                    if(sjson.success == 1){
                    }
                }
            });
        });


    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Docker Box</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/allContainer">所有容器</a></li>
                <li><a href="/help">帮助</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default margin-top">

</div>

</body>
</html>