<html>

<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <title>Docker Store - 正在运行</title>
    <link rel="stylesheet" href="/base.css">
    <script src="/jquery/2.2.1/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
    <style>
        #appContainer{
            padding-left: 10px;
            padding-right: 10px;
        }
        .one-app p {
            height: 13px;
        }

        .opDiv{
            padding-top: 10px;
            border-top: 1px solid #eeeeee;
        }
    </style>
    <script>
        $(document).ready(function(){
            //主机列表
            $.ajax({
                type:'post', url:"/api/getRuningApp", cache: false, dataType:'json',
                success:function(json){
                    if(json.success == 1){
                        for ( let i = 0; i < json.response.length; i++) {
                            let config = json.response[i];
                            let str = '<div class="col-xs-6 col-sm-4 col-md-2"><div class="one-app">';
                            //icos
                            str +='<div class="appIcon"><img src="/icon/'+ config.appIcon +'" /></div>';
                            //title
                            str +='<h4>'+config.appName+'</h4>';
                            //webui
                            if(config.webUi) {
                                str +='<p>WebUi: <a href="'+config.webUi+'" target="_blank">'+config.webUi+'</a></p>';
                            }else{
                                str +='<p>WebUi: 未开放</p>';
                            }
                            //server port
                            str +='<p>服务端口: '+config.ports+'</p>'
                            //操作
                            str += '<p><a href="/help#'+config.appId+'">帮助</a> &nbsp;&nbsp;';
                            str += '<a href="/logs?appId='+config.appId+'">日志</a> &nbsp;&nbsp;';
                            if(config.appConfig){
                                str += '<a href="/configEdit?appId='+config.appId+'">编辑</a>'
                            }else{
                                str +='编辑'
                            }
                            str +='</p>';
                            //管理
                            str +='<div class="opDiv"><button type="button" class="btn btn-danger btn-xs removeApp" appId="'+config.appId+'" >移除</button> &nbsp; ';
                            str +=' &nbsp; <button type="button" class="btn btn-warning btn-xs restartApp" appId="'+config.appId+'" >重启</button>';
                            str +='</div></div></div></div>';
                            $("#appContainer").append(str);
                        }
                    }
                    onList();
                }
            });

            function onList() {
                $(".removeApp").click(function(){
                    let removeApp = $(this)
                    removeApp.attr("disabled","disabled");
                    let appId = removeApp.attr("appId");
                    $.ajax({
                        type: 'post', url: "/api/removeApp", cache: false, dataType: 'json', data: "appId="+appId,
                        success: function (json) {
                            if( json.success == 1 ) {
                                removeApp.parent().parent().parent().remove();
                            }else{
                                alert("移除失败,请查看日志");
                            }
                        }
                    })
                });
                $(".restartApp").click(function(){
                    let restartApp = $(this)
                    restartApp.attr("disabled","disabled");
                    let appId = restartApp.attr("appId");
                    $.ajax({
                        type: 'post', url: "/api/restartApp", cache: false, dataType: 'json', data: "appId="+appId,
                        success: function (json) {
                            if( json.success != 1 ) {
                                alert("重启失败,请查看日志");
                            }else{
                                alert("执行成功");
                            }
                            restartApp.removeAttr("disabled");
                        }
                    })
                });
            }
        });


    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Docker Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/allApp">所有应用</a></li>
                <li><a href="/help">帮助</a></li>
                <li><a href="/tool">工具</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default margin-top">
    <div class="row" id="appContainer">

    </div>
</div>

</body>
</html>